.footer {
    min-height: 256px;
    background-color: $gunmetal;
    padding-bottom: 18px;
    grid-area: footer;
}

.footer__logo {
    display: inline-block;
}

.footer__top-row {
    padding-bottom: 56px;
    padding-top: 56px;
    border-bottom: 1px solid rgba(112, 111, 111, 0.2);
}

.footer-inner-page .footer__top-row {
    padding-top: 56px;
}

.footer__navigation-list {
    display: block;
}

.footer__navigation-item {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: white;
    padding: 4px 0;
}

.footer__navigation-link {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding: 4px 2px;
    cursor: pointer;
}

.footer-inner-page {
    flex: 0 0 auto;
}

@media (min-width: $desktop-width) {

    .footer__top-row {
        padding-top: 0;
    }

    .footer__navigation {
        display: flex;
        justify-content: flex-end;
    }

    .footer__navigation-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__navigation-item {
        margin-left: 72px;
        padding: 0;
    }
}