@use "src/styles/variables" as *;

.business {
  padding: 80px 4px;
  color: white;
  background-color: $brandeis-blue;

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }

  &__text {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 69px;
    opacity: 0.8;
  }

  &__image {
    width: 344px;
    height: 206px;
    margin-top: 42px;
    margin-bottom: -100px;
  }
}


@media (min-width: $tablet-width) {
  .business__image {
    width: 100%;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .business {
    &__container {
      width: 952px !important;
    }

    &__title {
      text-align: left;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: white;
      margin-left: 164px;
      margin-right: 160px;
    }

    &__text {
      text-align: left;
      color: white;
      margin-top: 34px;
      margin-left: 164px;
      margin-right: 191px;
    }

    &__image {
      margin-top: 69px;
      width: 100%;
    }
  }

}