.switch-form {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.switch-form__field {
    background-color: $bright-gray;
    display: flex;
    overflow: hidden;
    width: min-content;
    border-radius: 32px;
    position: relative;
    margin: 0 auto;
}

.switch-form__back {
    width: 160px;
    border-radius: 32px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
    background-color: $brandeis-blue;
    z-index: 1;
}

.switch-form__button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 160px;
    border-radius: 32px;
    text-transform: uppercase;
    height: 48px;
    font-size: 14px;
    color: $dark-silver;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0.08em;
    transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.switch-form__button--active {
    color: white;
}

.switch-form__switch-area {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 88px);
    grid-auto-rows: 88px;
    grid-gap: 32px;
    justify-content: center;
    min-height: 448px;
}

@media (min-width: $desktop-width) {

    .switch-form__switch-area {
        grid-template-columns: repeat(8, 88px);
        grid-gap: 32px;
    }
}